.login-form {
    flex-grow: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
}

.login-form:first-child {
    border-right: 2px solid #F57D62;
    text-align: right;
}

.login-form:last-child .login-form__button {
    align-self: flex-start;
}

.login-form:first-child * {
    text-align: right;
    align-self: flex-end;
}

.login-form__entries {
    flex-grow: 1;
}
