.login {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100%;
}

.login__header {
    background-color: #740F13;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    font-family: Supermercado, cursive;
}

.login__name {
    color: #FFF4E0;
    margin: 0;
    font-size: 50px;
}

.login__logo {
    height: 70px;
    margin: 5px;
}

.login__forms-wrapper {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
