@font-face {
    font-family: Supermercado;
    src: url("./assets/SupermercadoOne-Regular.ttf");
}

body {
    margin: 0;
    font-family: Supermercado, cursive;
}

html,
body,
#root {
    height: 100%;
}

#root {
    background-color: #FFF4E0;
}